In [21]:
import pandas as pd
import sqlite3

In [22]:
conn= sqlite3.connect('dataGold.db')

In [23]:
df_abusive= pd.read_csv('data_mentah/abusive.csv')

In [24]:
df_abusive.head()

   ABUSIVE
0     alay
1    ampas
2     buta
3  keparat
4   anjing

In [25]:
df_abusive.to_sql('abusive', conn, index=False)

125

In [26]:
df_alay = pd.read_csv('data_mentah/new_kamusalay.csv',encoding='latin-1',names=['alay_word','basic_word'])

In [27]:
df_alay.head()

             alay_word                basic_word
0  anakjakartaasikasik  anak jakarta asyik asyik
1         pakcikdahtua         pak cik sudah tua
2       pakcikmudalagi         pak cik muda lagi
3          t3tapjokowi              tetap jokowi
4                   3x                 tiga kali

In [29]:
df_alay.to_sql('kamusalay',conn,index=False)

15167