In [2]:
import pandas as pd
import sqlite3
import seaborn as sn

In [4]:
conn= sqlite3.connect('dataGold.db')

In [6]:
df_abusive= pd.read_csv('data_mentah/abusive.csv')

In [7]:
df_abusive.head()

   ABUSIVE
0     alay
1    ampas
2     buta
3  keparat
4   anjing

In [8]:
df_abusive.to_sql('abusive', conn, index=False)

ValueError: Table 'abusive' already exists.

In [26]:
df_alay = pd.read_csv('data_mentah/new_kamusalay.csv',encoding='latin-1',names=['alay_word','basic_word'])

In [27]:
df_alay.head()

             alay_word                basic_word
0  anakjakartaasikasik  anak jakarta asyik asyik
1         pakcikdahtua         pak cik sudah tua
2       pakcikmudalagi         pak cik muda lagi
3          t3tapjokowi              tetap jokowi
4                   3x                 tiga kali

In [ ]:
df_alay.to_sql('kamusalay',conn,index=False)

In [9]:
df_data= pd.read_csv('data_mentah/data1.csv')

In [10]:
df_data.head()

,Tweet,HS,Abusive,HS_Individual,HS_Group,HS_Religion,HS_Race,HS_Physical,HS_Gender,HS_Other,HS_Weak,HS_Moderate,HS_Strong
0,- disaat semua cowok berusaha melacak perhatia...,1,1,1,0,0,0,0,0,1,1,0,0
1,RT USER: USER siapa yang telat ngasih tau elu?...,0,1,0,0,0,0,0,0,0,0,0,0
2,"41. Kadang aku berfikir, kenapa aku tetap perc...",0,0,0,0,0,0,0,0,0,0,0,0
3,USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...,0,0,0,0,0,0,0,0,0,0,0,0
4,USER USER Kaum cebong kapir udah keliatan dong...,1,1,0,1,1,0,0,0,0,0,1,0